<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>243790059416-at5m8869hf7a5fcdaqosaf2hn9s5rhi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243790059416-at5m8869hf7a5fcdaqosaf2hn9s5rhi2</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Qu2SibleeGqspehrp1rHNnlckXdCjBk</string>
	<key>GCM_SENDER_ID</key>
	<string>243790059416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandercaley.Clippers</string>
	<key>PROJECT_ID</key>
	<string>clippers-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clippers-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243790059416:ios:d1d11cb5a43d2591</string>
	<key>DATABASE_URL</key>
	<string>https://clippers-app.firebaseio.com</string>
</dict>
</plist>